.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 350px;
}

.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.pricing {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.cardcontent {
  display: flex;
  flex-direction: column;
}

.cardactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

