.maincontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
}

.profileheader {
  background: white;
  width: 50%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.profilepicture {
  width: 100px;
  height: 100px;
}

.infocontainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.recipelist {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 32px;
}