
.maincontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #742d2d;
  width: 100%;
  height: 300px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  gap: 20px;
}

.maingrid {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5c4ece0e3917ee277d32eaf3/1596527501411-CIRIZCOIALL3UTE1WSK9/dishes-compressed.gif");
  filter: blur(15px) brightness(0.3);
  transform: scale(1.3);
  z-index: -1;
  background-repeat: no-repeat;
  background-color: gray;
  background-size: cover;
  background-position: center;
}

.headercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.registerformcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  gap: 20px;
  background-color: rgb(41, 34, 34);
}