.wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.05);
}

.ratingwrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}