.wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: solid 2px rgba(0, 0, 0, 0.1)
}

.ratingwrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}