
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  gap: 20px;
}

.filterform {
  justify-content: center;
  max-width: 600px;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
}