
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.headertitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.image {
  width: 100%;
  max-height: 200px;
  background-color: black;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1473093295043-cdd812d0e601?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  filter: brightness(0.3);
}