.main {
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px;
  align-items: center;
  height: 400px;
  background-color: white;
}

.footercontainer {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
}

.leftcolumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
