
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 600px;
  gap: 20px;
  padding: 50px;
  background-color: #fcfcfc;
}

.recipelistcontainer {
  display: flex;
  flex-direction: column;
  padding: 32px;
  align-items: center;
  border-top: 4px solid rgba(255, 255, 255, 0.983);
  background-color: white;
}

.headercontainer {
  display: flex;
  gap: 16px;
  max-width: 500px;
  flex-direction: column;
}

.cardcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 100px 10px 100px 10px;
  background-color: #fcfcfc;
}

.cardrow {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}