# Gradle-specific
.gradle
build/

# IntelliJ IDEA-specific
.idea/

# Eclipse-specific
.classpath
.project
.settings/

# Operating System
.DS_Store

# Version control
.git
.gitignore

# Temporary files
*.log
*.tmp
*.swp
.env