.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipecontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  min-height: 300px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.headercontainer {
  height: 400px;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headertitle {
  padding: 40px;
  color: white;
  background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100%;
}

.recipedatacontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  background: white;
  gap: 40px;
  padding: 40px;
  width: 100%;
}

.avatarcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.recipecomment {
  background: #f9f9f9;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}