.nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 8px 32px;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.043);
}

.navbarleft {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.navbarcenter {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.navbarright {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}