
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  padding: 16px;
  gap: 16px;
}

.filterform {
  justify-content: center;
  max-width: 600px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 16px;
}