
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: black;
}

.headertitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}