
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
}

.headertitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}