name: Development Deploy

on:
  push:
    branches:
    - dev

concurrency:
  group: dev-pipeline-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write # <-- required for OIDC to AWS
  contents: read

jobs:
  test_and_deploy_dev:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    env:
      AWS_REGION: eu-west-1
      CDK_STACKS: CdkRecipeAppStack

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: gradle

      - name: Test backend
        run: cd server && ./gradlew test

      - name: Start containers
        run: docker compose -f "docker-compose.test.yml" up -d --build

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          working-directory: ./client
          wait-on: 'http://localhost:3000'
          browser: chrome

      - name: Stop containers
        if: always()
        run: docker compose -f "docker-compose.test.yml" down

      # AWS CDK Deploy backend
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::171756462962:role/Github_Actions_Recipeapp_CDK_Deploy

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: |
            cdk/package-lock.json
            package-lock.json

      - name: Install CDK app deps
        working-directory: cdk
        run: npm ci

      - name: cdk diff (optional)
        working-directory: cdk
        run: npx cdk diff $CDK_STACKS || true

      - name: cdk deploy
        working-directory: cdk
        run: npx cdk deploy $CDK_STACKS --require-approval=never --verbose

      - name: Pull Vercel Environment Information
        run: npx vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
      - name: Build Project Artifacts
        run: npx vercel build --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: npx vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
